/* LARGER SCREENS */

@media (min-width: 768px) {

    body {
        max-width: 1100px;
        margin: auto;
    }

    /* NAV as horizontal */
    nav {
        display: block !important;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
    }

    nav li {
        border: none;
    }

    #menu {
        display: none;
    }

    /* GRID LAYOUT */
    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }
}