html {
    line-height: 1.15;
}

body {
    margin: 0;
}

main {
    display: block;
}

h1,
h2,
h3,
p {
    margin-top: 0;
}

img {
    border-style: none;
    max-width: 100%;
}

button {
    font-family: inherit;
}